<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janiscommerce.appcheckupdates">

    <application>
        <!-- Receiver para detectar cuando la app se actualiza -->
        <receiver
            android:name=".InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
